.article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(226, 241, 241);
    // background-image: url('../assets/img/wooden-floor-g317babf70_1920.jpg');
}

.plan {
    padding-top: 120px;
    margin-left: 180px;

    &__picture {
        width: 80%;
        box-shadow: 0 15px 40px;
        margin-bottom: 70px;
    }
}

.suggests {
    width: 900px;
    padding-right: 50px;

    &__title {
        font-size: $h2-font-size;
        text-align: center;
        padding-top: 145px;
    }

    &__list {
        padding-top: 15px;
    }

    &__list--item {
        margin-top: 12px;
        margin-left: 20px;
        font-size: 25px;
    }

}