.menu {

    &__navigation {
        position: absolute;
        top: 110px;
        right: 250px;
        z-index: 1;
    }

    &__navigation--link {
        font-size: 22px;
        color: black;
        text-decoration: none;
        display: inline-block;
        margin-right: 100px;

        &:hover {
            color: #133799;
            border-bottom: 2px solid #eb0b0b;
        }
    }
}

.subpage {

    &__navigation {
        position: absolute;
        top: 110px;
        right: 250px;
        z-index: 1;
    }

    &__navigation--link {
        font-size: 22px;
        color: black;
        text-decoration: none;
        display: inline-block;
        margin-right: 100px;

        &:hover {
            color: #133799;
            border-bottom: 2px solid #eb0b0b;
        }
    }

}